.max-height {
  min-height: 100vh;
}
body {
  background: #fff;
}
.quote-container {
  background: #fff;
}
#generate-btn {
  color: white !important;
  background: #FFC0CB !important;
  border-color: #FFC0CB !important;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
#generate-btn:hover {
  background: #FF69B4 !important;
  border-color: #FF69B4 !important;
  color: #333333 !important;
}
.author {
  color: #FFC0CB;
}
